<div id="main" class="palm-hasheader">
    <div class="palm-header">Congratulations!</div>
    <div class="palm-body-text centerText">
			You have completed level <span id="levelCompleted"></span><br/><br/>
			Your current score is<br/>
			<span id="scoreSpan">0</span>
	</div>
    <div id="continueButton" name="continueButton" x-mojo-element="Button"></div>
	<table class="palm-divider labeled">
		<tbody>
			<tr>
				<td class="left"></td>
				<td class="label">Tips & Fun facts</td>
				<td class="right"></td>
			</tr>
		</tbody>
	</table>
	<div id="tipText" class="palm-body-text"></div>
	<div id="admob_ad"></div>
</div>