<div class="palm-hasheader">
	<div class="palm-header">
		<span id="choiceHeader"></span>
	</div>
</div>
<div class="palm-header-spacer"></div>
<div id="progressBar" x-mojo-element="ProgressBar"></div><div id="scoreDiv" class="palm-body-text" x-mojo-loc=""><span id="levelScore"></span></div>
<div class="clear"></div>
<br/>
<div id="Spelling1" class="word" name="Spelling1" x-mojo-element="Button"></div>
<div id="Spelling2" class="word" name="Spelling2" x-mojo-element="Button"></div>
<div id="Spelling3" class="word" name="Spelling3" x-mojo-element="Button"></div>
<div id="Spelling4" class="word" name="Spelling4" x-mojo-element="Button"></div>
	
