<div id="main" class="palm-hasheader">
	<div id="header" class="palm-header">Congratulations!</div>
    <div class="palm-body-text centerText"  x-mojo-loc="">
			Your end score is<br/>
			<span id="scoreSpan">0</span>
	</div>
			
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc=''>Recent Scores</div>
		<div class="palm-list">
	   		<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="false">
					<div id="scoresList" class="centerText"></div>
				</div>
			</div>
		</div>
	</div>
</div>