<div class="palm-group">
	<div class="palm-group-title">How To Play</div>
	 <div class="palm-body-text">
	 	The game will start with a choice of four buttons.  Three of the buttons contain synonyms of each other.  
		Only one of the buttons is an antonym of all three others (to the best of its ability).  
		Pick the antonym and the game progresses, if you pick the wrong word within five choices the 
		level resets and you have to pick the correct antonym of five words again!
		Get five right in a row and the game progresses! 
		<br/><br/>
		A constant timer is ticking down your score but don't worry if the score reaches zero the game
		doesn't end!  But try to be quick to get the best score!
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Word Learn Suite</div>
	 <div class="palm-body-text">
	 	Synogame is part of the Word Learn Suite!  If you enjoyed this game please try its companion game!
		<br/>
		
		<ul>
			<li class="gameLink"><a href="http://developer.palm.com/appredirect/?packageid=com.viscinc.spellwell">SpellWell</a></li>
			<li class="gameLink"><a href="http://developer.palm.com/appredirect/?packageid=com.viscinc.spellwell-trial">SpellWell (trial)</a></li>
		</ul>
	</div>
</div>